{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endcomment %}
    <!-- <link rel="shortcut icon" type="image/png" href="{% static '/favicon.png' %}"> -->
    <title>{%block title%}{% endblock title%}</title>
</head>
<body>
    
        <header>
            <navbar>
                <div id="logo">
                    <p>History Blog</p>
                </div>
                <div id="navigation">
                    <a href="">Главная</a>
                    <a href="">Новости</a>
                    <a href="">Регистрация</a>
                    <a href="">Вход</a>
                </div>
            </navbar>
        </header>
        <main>
            {% block content %}
            
            {% endblock %}
        </main>

</body>
</html>