{% extends 'html/base.html' %}

{% load static %}



{% block link_block %}
    
{% endblock link_block %}
    

{% block title %}
    
{% endblock title %}
    

{% block content %}
    
    <div class="container">

        <div class="input_card">
        
            <form action="#" enctype='multipart/form-data' method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Save</button>
            </form>

        </div>

    </div>

{% endblock content %}
    